In [42]:
import pandas as pd
import numpy as np

In [44]:
mturk = pd.read_csv('Social distancing and face mask usage (MTurk) (Responses) - Form Responses 1.csv').drop(
    columns = ['Double check: Which country are you in right now? (please type)',
               'In February, which country were you in?',
               'If your country is different to the country your MTurk '+
               'account is registered in, please type in the country '+
               'you are in right now',
               'Reason',
               'Timestamp',
               'What is your worker ID?'])
mturk.columns = pd.MultiIndex.from_tuples([('country',''),
                              ('distancing','2020-03-03'),
                              ('distancing','2020-03-10'),
                              ('distancing','2020-03-17'),
                              ('distancing','2020-03-24'),
                              ('distancing','2020-03-31'),
                              ('masks','2020-03-03'),
                              ('masks','2020-03-10'),
                              ('masks','2020-03-17'),
                              ('masks','2020-03-24'),
                              ('masks','2020-03-31'),
                              ('flag','')])
volunteers = pd.read_csv('Physical distancing and face mask usage (Responses) - Form Responses 1.csv').drop(
    columns = ['Timestamp',
               'Unnamed: 10'])
volunteers.columns = pd.MultiIndex.from_tuples([('country',''),
                              ('distancing','2020-03-03'),
                              ('distancing','2020-03-10'),
                              ('distancing','2020-03-17'),
                              ('distancing','2020-03-24'),
                              ('masks','2020-03-03'),
                              ('masks','2020-03-10'),
                              ('masks','2020-03-17'),
                              ('masks','2020-03-24'),
                              ('distancing','2020-03-31'),
                              ('masks','2020-03-31')])


RESPONSES = {'The same number of people as usual':100,
             '25% less people than usual':75,
             '50% less people than usual':50,
             '75% less people than usual':25,
             'Almost nobody was out in public':5,
             'Almost everybody was not wearing a mask':5,
             '25% of people wore a mask':25,
             '50% of people wore a mask':50,
             '75% of people wore a mask':75,
             'Everybody was wearing a mask':95,
             '75% of the usual number':75,
             '50% of the usual number':50,
             '25% of the usual number':25,
             "I didn't go out during this week/don't remember":np.nan,
             "I didn't go out during this week":np.nan,
             "I didn't go out this week/don't remember":np.nan,
             np.nan:np.nan}

def str2quant(s):
    return RESPONSES[s]
volunteers.loc[:,['distancing','masks']] = volunteers[['distancing','masks']].applymap(str2quant)
mturk.loc[:,['distancing','masks']] = mturk[['distancing','masks']].applymap(str2quant)

In [52]:
volunteers.groupby('country').std().mean(axis=1)

country
Argentina                                            NaN
Australia                                      15.247881
Belgium                                              NaN
Brazil                                               NaN
Canada                                         21.823606
Czechia                                         9.832304
Denmark                                              NaN
Estonia                                              NaN
France                                          9.091373
Germany                                        10.164660
India                                          14.150891
Ireland                                              NaN
Japan                                                NaN
Jordan                                         16.351844
Kenya                                           0.000000
Luxembourg                                           NaN
Netherlands                                          NaN
New Zealand                                          NaN
North Cyprus                                         NaN
Pakistan                                             NaN
Romania                                        13.700194
Russia                                          3.535534
Singapore                                      22.089985
Slovakia                                             NaN
South Africa                                   28.803693
South Korea                                          NaN
Spain                                                NaN
Sri Lanka                                      14.823890
Sweden                                               NaN
Switzerland                                          NaN
United Arab Emirates                                 NaN
United Kingdom                                 14.958394
United States of America                       18.052355
United States of America - All other states    15.945433
United States of America - California          14.766191
United States of America - Florida                   NaN
United States of America - Georgia                   NaN
United States of America - Illinois                  NaN
United States of America - New York            10.606602
United States of America - North Carolina            NaN
United States of America - Ohio                      NaN
United States of America - Pennsylvania              NaN
United States of America - Texas               12.121831
dtype: float64

In [51]:
mturk.groupby('country').std().mean(axis=1)

/home/guest/.local/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

country
Andorra                                              NaN
Angola                                         15.490381
Argentina                                            NaN
Azerbaijan                                           NaN
Brazil                                         24.772003
France                                         14.478680
Germany                                        15.042023
Ghana                                                NaN
India                                          26.188239
Singapore                                       4.596194
United States of America - All other states          NaN
United States of America - Texas                     NaN
dtype: float64

In [48]:
mturk[pd.isna(mturk['flag'])].groupby('country').std()

/home/guest/.local/lib/python3.7/site-packages/pandas/core/generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                                            distancing                        \
                                            2020-03-03 2020-03-10 2020-03-17
country
Argentina                                          NaN        NaN        NaN
Brazil                                       25.877458  38.614394  22.519833
France                                        8.333333  16.666667  18.660501
Germany                                      12.500000  32.846444  33.516165
India                                        29.072979  26.502471  24.326082
Singapore                                     0.000000   0.000000  17.677670
United States of America - All other states        NaN        NaN        NaN
United States of America - Texas                   NaN        NaN        NaN

                                                                       masks  \
                                            2020-03-24 2020-03-31 2020-03-03
country
Argentina                                          NaN        NaN        NaN
Brazil                                       18.004629  36.039000  29.627315
France                                       23.333333   0.000000   8.819171
Germany                                      22.242352  18.419710   0.000000
India                                        16.308047  26.177053  33.123147
Singapore                                     0.000000   0.000000  14.142136
United States of America - All other states        NaN        NaN        NaN
United States of America - Texas                   NaN        NaN        NaN

                                                                              \
                                            2020-03-10 2020-03-17 2020-03-24
country
Argentina                                          NaN        NaN        NaN
Brazil                                       10.000000  17.320508  20.777306
France                                       15.634719  17.060816  17.677670
Germany                                       0.000000   6.324555  10.444659
India                                        25.597619  26.890430  21.926450
Singapore                                    14.142136   0.000000   0.000000
United States of America - All other states        NaN        NaN        NaN
United States of America - Texas                   NaN        NaN        NaN


                                            2020-03-31
country
Argentina                                          NaN
Brazil                                       28.939592
France                                       18.600595
Germany                                      14.126343
India                                        27.156951
Singapore                                     0.000000
United States of America - All other states        NaN
United States of America - Texas                   NaN

In [50]:
np.std([0.05,0.25,0.5,0.5,0.5,0.75,0.95])

0.2751622897751175